OSS_REGION=oss-cn-chengdu
OSS_ACCESS_KEY_ID=your_oss_access_key_id
OSS_ACCESS_KEY_SECRET=your_oss_access_key_secret
OSS_BUCKET=lxj-picgo
PORT=3001
CLIENT_URL=https://midnightatelier.netlify.app
ADMIN_PASSWORD=your_admin_password
